
.contenedor {
    width: 60%;
    margin: auto;
    min-height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
}


.cont-form {
    display: flex;
    min-height: 600px;
    justify-content: center;
    text-align: center;
    align-items: top;
    max-height: 50% !important;
    background-color: #f8f9fa; /* Fondo claro */
    max-width: 50%;
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margen superior */
}

.contenedor-form {
    display: flex  ;
    height: 50%;
    justify-content: center;
    align-items: top;
    max-height: 50% !important;
    background-color: #f8f9fa; /* Fondo claro */
    max-width: 50%;
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margen superior */
}

.futer .list-inline-item{
    
    font-size: large;
    transition: 1.5s ;
     color: 1.5s ease-in-out;
    margin-left: 25px;
    animation: colorChange 10s infinite;
    padding: 20px;

   
}
.futer .list-inline-item:hover{
    transform: rotateX(360deg);
    
    color: #000000;
    
  
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;

    
}
.respuestaBuscarAuto {
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(85, 85, 85);
    
    
}

.btn-ingrese{
    background-color: #007BFF; /* Color azul */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
}

.respPersonaCreada {
    display: flex;
    min-height: 600px;
    justify-content: center;
    text-align: center;
    align-items: top;
    max-height: 50% !important;
    background-color: #f8f9fa; /* Fondo claro */
    max-width: 50%;
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margen superior */
    background-color: rgb(14, 170, 14);
}
.respPersonaNoCreada {
    display: flex;
    min-height: 600px;
    justify-content: center;
    text-align: center;
    align-items: top;
    max-height: 50% !important;
    background-color: #f8f9fa; /* Fondo claro */
    max-width: 50%;
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margen superior */
    background-color: rgb(151, 28, 28);
}

.contenedorItems{
    height: 7rem;
    display: flex;
    align-items: center;
    align-items: start;
    align-content: center;
    justify-content: center;
}

/* Aplicamos la animación al div */
.modalDatosIncorrectos {
    animation: entrada 1s ease-out;
    background-color: #cc2727;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    width: 100%;
    height: 20%;
    color: #ffff;
}

/* Definimos la animación */
@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Aplicamos la animación al div */
.modalDatosCorrectos {
    animation: entradaDos 1s ease-out;
    background-color: #cc2727;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    width: 100%;
    height: 20%;
    color: #ffff;
}

/* Definimos la animación */
@keyframes entradaDos {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

